#input { 
    width: 70%;
    height: 200px;
}

.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.green { 
    color: green;
}

.red {
    color: red;
}